/* reset styles */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

/* common css styles */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.common-btn{
    background-color: #2563EB;
    color: #fff;
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;

}

/* navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
    width: 100%;
    align-items: center;
}


.nav-links ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-links ul li{
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: #575757;
    font-weight: 400;
    font-size: 16px;
}

/* hero section styles */
.hero{
    height: 650px;
    background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.45)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-content{
    text-align: center;
    color: #fff;
}

.hero-content p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    width: 55%;
    margin: auto;
    margin-bottom: 270px;
}

.hero-content h1{
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* meet the speakers section styles */

.meet-cart-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 90px;
}

.meet-speakers h1{
    margin: 30px 0px;
    text-align: center;
    font-size: 40px;
    color: #000102;
}

.meet-cart {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.meet-cart img{
    width: 100%;
    display: block;
}

.meet-cart-content{
    padding: 15px 20px;
}

.meet-cart-content h5{
    color: #2563EB;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.meet-cart-content h3{
    color: #0D1B2A;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.meet-cart-content p{
    color: #575757;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}


/* secure payment section styles */
.payment-cart-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 100px;
}

.secure-payment h1, .secure-payment-p{
    text-align: center;
}

.secure-payment h1{
    margin-bottom: 10px;
    font-size: 40px;
    color: #000102;
}
.secure-payment p{
    color: #575757;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

.payment-cart-content{    
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    line-height: 30px;
}

.payment-cart-content h5{    
    color: #575757;
    font-size: 15px;
    font-weight: 500;
}

.payment-cart-content h2{    
    color: #000102;
    font-size: 28px;
    font-weight: 700;
}

.payment-cart-content ul{    
    padding-left: 20px;
    margin-bottom: 15px;
}

.payment-cart-content ul li{   
    font-size: 15px;
    color: #575757;
    font-weight: 500;
}

.payment-cart-content ul li::marker{   
    color: #2563EB;
}

.line{
    margin-bottom: 20px;
}

.outline-btn{
    width: 100%;
    padding: 13px 23px;
    border-radius: 8px;
    border: 1px solid #d3d2d2;
    background-color: #fff;
    color: #000102;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 7px;
}

.outline-btn1{
    width: 100%;
    padding: 13px 23px;
    border-radius: 8px;
    border: 1px solid #2563EB;
    background-color: #fff;
    color: #000102;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 7px;
}

.pro-btn{
    width: 100%;
    padding: 13px 23px;
    border-radius: 8px;
    background-color: #2563EB;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    margin-bottom: 7px;
}

.pro-cart{
    background-color: #0D1B2A;
    width: 100% !important;
}

.pro-cart h2 {
    color: #fff;
}

.pro-cart ul li, p{
    color: #ffffff;
    font-size: 14px;
}

.pro-cart h5{
    color: #93C5FD;
}

.pro-cart ul li::marker {
    color: #2563EB;
}

.pro-card .line {
    border-color: #575757;
}


/* footer styles */
.footer-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 50px 0px;
    background-color: #0D1B2A;
    font-size: 25px;
}

.footer-parent {
    margin-bottom: 20px;
}

.footer-left-logo {
    overflow: hidden;
}

.footer-right-social-links a i {
    color: white;
    transition: 0.3s;
}

.footer-right-social-links a i:hover {
    color: #2563eb;
}

.footer-divider-line{
    border: none;
    border-top: 1px solid #575757;
}

.footer-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p{
    color: #575757;
    font-size: 16px;
}

.footer-bottom-right{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.footer-bottom-right ul li{
    list-style: none;
}

.footer-bottom-right ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #575757;
}